<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASu60smbOM_UHTr_oDooHWg0Df6n59XyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>114071980862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vik.inn</string>
	<key>PROJECT_ID</key>
	<string>dummy-analytics-21261</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-analytics-21261.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114071980862:ios:b4eb890568e32642f0ba6f</string>
</dict>
</plist>